.left-initial {
    left: initial !important;
}
.right-initial {
    right: initial !important;
}
.bottom-initial {
    bottom: initial !important;
}
.z-index-initial {
    z-index: initial !important;
}
